.container {
  padding: 40px 10%;
  color: var(--color-text);
}
.title {
  font-size: 36px;
  margin-bottom: 20px;
}
.code {
  background: var(--color-dark);
  padding: 10px;
  border-radius: 5px;
  font-family: monospace;
}
